@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
:root{
    --cor-de-fundo:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,255,0,1) 77%, rgba(255,255,255,1) 100%);



}


body{
    background: rgb(255, 0, 0);
    background: var(--cor-de-fundo);

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo1{
    color:rgb(255, 255, 255);

}
.conteudo-principal{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;

}
.conteudo-principal span{
color: rgb(170, 170, 170);

}
.botao{
font-size: 18px;
background-color: rgb(179, 179, 179);

}