@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
:root{
    --cor-de-fundo:linear-gradient(90deg, rgba(2,59,10,1) 1%, rgba(0,69,9,1) 9%, rgba(3,208,16,1) 33%, rgba(3,213,16,1) 72%, rgba(0,69,9,1) 88%, rgba(1,51,8,1) 98%);
    --botao-inativo: rgba(0, 0, 0, 0.425);


}


body{
    background: rgb(255, 0, 0);
    background: var(--cor-de-fundo);

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo1{
    color:rgb(255, 255, 255);

}
.conteudo-principal{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;

}
.conteudo-principal span{
color: rgb(170, 170, 170);

}
.botao{
font-size: 18px;
background-color: var(--botao-inativo);
color: rgb(255, 255, 255);
padding:1em;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
border-bottom: 4px solid rgba(0, 0, 0, 0.425);
border-left: 2px solid  rgba(0, 0, 0, 0.425);
border-right: 2px solid  rgba(0, 0, 0, 0.425);
border-top: 4px solid  rgba(0, 0, 0, 0.425);

}

.botao:first-child{
    border-radius: 40px  0 0 ;
}
.botao:last-child{
    border-right: 40px 0 0;
}

.principal-botoes{
display: block;

}
@media screen and (min-width:768px) {
    .principal-botoes{
        display: flex;

    }
}